:root {
  --bg: #0e1116;
  --surface: #151a21;
  --primary: #7dd3fc;
  --secondary: #c084fc;
  --text: #e5e7eb;
  --muted: #9ca3af;
  --border: #1f2937;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  /* background: var(--bg); */
  color: var(--text);
  line-height: 1.6;
  padding: 1em;
  background: linear-gradient(90deg, #1e043b, #650d23, #7b5490);
  background-size: 300% 300%;
  animation: gradient 7s alternate infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 5em;
}

nav a {
  color: var(--text);
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-links a {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 1rem;
  }
  .nav-links {
    margin-top: 1rem;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }
} */

h1, h2, h3 {
  font-weight: 600;
  letter-spacing: -0.02em;
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem);
}

p {
  color: var(--muted);
}

a {
  color: var(--primary);
}
a:hover {
  color: var(--secondary);
}
