---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
//import projects from "../data/proyectos.json";
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
projects.sort((a, b) => b.data.year - a.data.year);
---

<Layout title="Proyectos · Pablo Lambert">
  <section class="services-section">
    <h1>Proyectos</h1>
    <p class="subtitle">
      Experiencias digitales, diseños, experiencias de usuario y más.
    </p>

    <div class="services-grid">
      {projects.map((project) => (
        <ProjectCard {...project.data} />
      ))}
    </div>
  </section>
</Layout>