---
import "../styles/global.css";
import "../styles/services.css";
import "../styles/home.css";
import "../styles/about.css";
import "../styles/contact.css";
import "../styles/navbar.css";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>celva.dev</title>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
		</div>
	</body>
</html>
